-- CreateTable
CREATE TABLE "InstagramAutoDmRule" (
    "id" TEXT NOT NULL,
    "workspaceId" TEXT NOT NULL,
    "socialAccountId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "mediaId" TEXT NOT NULL,
    "keyword" TEXT NOT NULL,
    "matchType" TEXT NOT NULL DEFAULT 'EXACT',
    "message" TEXT NOT NULL,
    "buttonLabel" TEXT,
    "destinationUrl" TEXT,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InstagramAutoDmRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InstagramAutoDmExecution" (
    "id" TEXT NOT NULL,
    "ruleId" TEXT NOT NULL,
    "workspaceId" TEXT NOT NULL,
    "socialAccountId" TEXT NOT NULL,
    "commentId" TEXT NOT NULL,
    "commenterId" TEXT NOT NULL,
    "commentText" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'SENT',
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sentAt" TIMESTAMP(3),

    CONSTRAINT "InstagramAutoDmExecution_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "InstagramAutoDmRule_workspaceId_idx" ON "InstagramAutoDmRule"("workspaceId");

-- CreateIndex
CREATE INDEX "InstagramAutoDmRule_socialAccountId_mediaId_enabled_idx" ON "InstagramAutoDmRule"("socialAccountId", "mediaId", "enabled");

-- CreateIndex
CREATE INDEX "InstagramAutoDmExecution_workspaceId_idx" ON "InstagramAutoDmExecution"("workspaceId");

-- CreateIndex
CREATE UNIQUE INDEX "InstagramAutoDmExecution_ruleId_commentId_key" ON "InstagramAutoDmExecution"("ruleId", "commentId");

-- AddForeignKey
ALTER TABLE "InstagramAutoDmRule" ADD CONSTRAINT "InstagramAutoDmRule_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "Workspace"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstagramAutoDmRule" ADD CONSTRAINT "InstagramAutoDmRule_socialAccountId_fkey" FOREIGN KEY ("socialAccountId") REFERENCES "SocialAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstagramAutoDmExecution" ADD CONSTRAINT "InstagramAutoDmExecution_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "InstagramAutoDmRule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstagramAutoDmExecution" ADD CONSTRAINT "InstagramAutoDmExecution_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "Workspace"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstagramAutoDmExecution" ADD CONSTRAINT "InstagramAutoDmExecution_socialAccountId_fkey" FOREIGN KEY ("socialAccountId") REFERENCES "SocialAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

